# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
/s3bucket/node_modules
/s3bucket-backend/node_modules
# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/s3bucket-backend/db.js
/s3bucket-backend/migrations/
/s3bucket-backend/test.js
/s3bucket-backend/UPDATE.sql